@font-face {
    font-family: Prime;
    src: url(./../Fonts/Prime-Regular.ttf);
}

@font-face {
    font-family: Nexa-Heavy;
    src: url(./../Fonts/Nexa-Heavy.ttf);
}

@keyframes flyInTop {
    from {
        transform: translateY(-50vh);
    }

    to {
        transform: translateY(0vh);
    }
}

/*COLORS:
#8CB9BD
#FEFBF6
#ECB159
#8CB9BD
https://colorhunt.co/palette/8cb9bdfefbf6ecb159b67352*/

body {
    background-color: #8CB9BD;
    margin: 0%;
    font-family: Nexa-Heavy;
}

input {
    font-family: Nexa-Heavy;
}

.flex {
    display: flex;
}

.flex-width {
    width: 100%;
    display: flex;
}

.center-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-box {
    position: relative;
    margin: 0%;
    padding: 3%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(./../Img/food_background.jpg);
    
}

#login-box {
    margin-top: 10%;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.login-input {
    width: 20%;
    height: 60px;
    text-align: center;
    font-size: 200%;
    color: white;
    background-color: #B67352;
    border: black 3px solid;
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

.login-input:hover {
    border-radius: 30px;
}

.login-input:focus {
    border-radius: 40px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.login-button {
    /*font-family: Nexa-Heavy;*/
    position: relative;
    text-align: center;
    width: 15%;
    height: 45px;
    font-size: 200%;
    border: black 3px solid;
    background-color: #ECB159;
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

.login-button:hover {
    cursor: pointer;
    border-radius: 40px;
    background-color: #B67352;
}

.register-text {
    text-align: center;
    font-size: 150%;
}

.register-link {
    text-decoration: none;
    color: #B67352;
}

/*TITLE ANIMATION START*/
.text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 5s linear forwards, filling 5s ease-in forwards;
    font-size: 80px;
}

.text-line text {
    font-family: Prime;
    font-weight: normal;
    font-style: normal;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filling {

    0%,
    90% {
        fill: #ECB159;
        fill-opacity: 0;
    }

    100% {
        fill: #ECB159;
        fill-opacity: 1;
    }
}
/*TITLE ANIMATION END*/

/*RESTAURANTS.PHP*/
.restaurant-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.restaurant-box {
    background-color: rgba(0, 0, 0, 0.547);
    width: 60vw;
    height: 30vh;
    margin: 2vw;
    display: flex;
    position: relative;
    transform: scale(100%);
    transition: all 0.3s ease-out;
}

.restaurant-box:hover {
    cursor: pointer;
    transform: scale(105%);
    background-color: rgba(0, 0, 0, 0.7);
}

.restaurant-title {
    color: white;
    font-size: 200%;
    
}

.restaurant-flex-left {
    width: 20%;
}

.restaurant-flex-middle {
    width: 55%;
    margin-left: 5%;
}

.restaurant-flex-right {
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.restaurant-img {
    margin: 5%;
}

.restaurant-rating {
    margin-top: 0%;
    color: yellow;
    font-size: 200%;
}

.restaurant-food-type {
    color: white;
    font-size: 150%;
}

.restaurant-delivery-time {
    color: white;
    font-size: 200%;
    margin: 0px;
    padding: 0px;
}

/*ORDERING PAGE*/
.food-item-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.food-item-box {
    background-color: rgba(0, 0, 0, 0.547);
    width: 60vw;
    height: 31vh;
    margin: 2vw;
    display: flex;
    position: relative;
    transform: scale(100%);
    transition: all 0.3s ease-out;
}

.food-item-box:hover {
    cursor: pointer;
    transform: scale(105%);
    background-color: rgba(0, 0, 0, 0.7);
}

.food-item-title {
    color: white;
    font-size: 200%;
}

.cart-noti {
    color: white;
    font-size: 400%;
    text-align: center;
}

.food-item-flex-left {
    width: 20%;
}

.food-item-flex-middle {
    width: 55%;
    margin-left: 5%;
}

.food-item-flex-right {
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.food-item-img {
    margin: 5%;
}

.food-item-description {
    color: white;
    font-size: 150%;
}

.food-item-price {
    color: yellow;
    font-size: 200%;
    margin-right: 5%;;
    padding: 0px;
}

.macros-box {
    background-color: rgba(0, 0, 0, 0.4);
}

.macro {
    margin-right: 5%;
    color: white;
}

#filter {
    background-color: #ECB159;
    height: 5vh;
    width: 7vw;
    font-size: 150%;
}

.submit-button {
    height: 5vh;
    width: 7vw;
    font-size: 150%;
}

.shopping-cart {
    position: fixed;
    width: 5%;
    right: 2%;
    top: 3%;
    background-color: #ECB159;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(100%);
    transition: all 0.3s ease-out;
}

.shopping-cart:hover {
    cursor: pointer;
    transform: scale(110%);
}

.shopping-cart img {
    width: 70%;
}

@keyframes notification-popup {
    0% {
        transform: scale(10%);
        bottom: -5vh;
    }

    10% {
        bottom: 2vh;
        transform: scale(100%);
    }

    90% {
        bottom: 2vh;
        transform: scale(100%);
    }

    100% {
        transform: scale(10%);
        bottom: -5vh;
    }
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 2vh;
    left: 40vw;
    width: 20vw;
    height: 10vh;
    border-radius: 50px;
    background-color: #00eaff;
    animation: notification-popup 5s ease-in-out;
    color: white;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 150%;
}

/*RESPONSIVE*/
/*FOR PHONE*/
@media screen and (max-width: 800px) {

    .login-button {
        width: 70%;
        margin-top: 40%;
    }

    .login-input {
        width: 70%;
        margin-top: 20%;
    }

    .notification {
        width: 80vw;
        height: 10vh;
        left: 10vw;
    }
}