@font-face {
    font-family: Prime;
    src: url(./../Fonts/Prime-Regular.ttf);
}

@keyframes flyInTop {
    from {
        transform: translateY(-50vh);
    }

    to {
        transform: translateY(0vh);
    }
}

/*COLORS:
#8CB9BD
#FEFBF6
#ECB159
#8CB9BD
https://colorhunt.co/palette/8cb9bdfefbf6ecb159b67352*/

body {
    background-color: #8CB9BD;
    margin: 0%;
}

.title-box {
    position: relative;
    margin: 0%;
    padding: 3%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(./../Img/food_background.jpg);
    
}

#login-box {
    margin-top: 10%;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.login-input {
    width: 20%;
    height: 60px;
    text-align: center;
    font-size: 200%;
    color: white;
    background-color: #B67352;
    border: black 3px solid;
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

.login-input:hover {
    border-radius: 30px;
}

.login-input:focus {
    border-radius: 40px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.login-button {
    position: relative;
    width: 15%;
    height: 45px;
    font-size: 200%;
    border: black 3px solid;
    background-color: #ECB159;
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

.login-button:hover {
    cursor: pointer;
    border-radius: 40px;
    background-color: #B67352;
}

.register-text {
    text-align: center;
    font-size: 150%;
}

.register-link {
    text-decoration: none;
    color: #B67352;
}

/*TITLE ANIMATION START*/
.text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 5s linear forwards, filling 5s ease-in forwards;
    font-size: 80px;
}

.text-line text {
    font-family: Prime;
    font-weight: normal;
    font-style: normal;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filling {

    0%,
    90% {
        fill: #ECB159;
        fill-opacity: 0;
    }

    100% {
        fill: #ECB159;
        fill-opacity: 1;
    }
}
/*TITLE ANIMATION END*/